

#home .list li{

     width: 100%;
     
     border-bottom:1px solid #ccc;
    
}

#home .list li img{

     width: 100%;
     
}

#home .scroll{
         width: 100%;
         height: 100%
    }
#home .moreMovie{
       width:150px;
       height:30px;
       background:gray;
       line-height:30px;

       text-align: center;
       margin:20px auto;
       border-radius: 30px
}       